.tracking-ori-activated,
.tracking-ori-activated:hover{
    background: #0074D9 url(../images/GPS_on_ori.png) no-repeat;
}

.tracking-pos-ori-activated,
.tracking-pos-ori-activated:hover{
    background: #0074D9 url(../images/GPS_on_pos_ori.png) no-repeat;
}

.tracking-deactivated,
.tracking-deactivated:hover,
.tracking-ori-deactivated,
.tracking-ori-deactivated:hover,
.tracking-pos-ori-deactivated,
.tracking-pos-ori-deactivated:hover{
    background-image: url(../images/GPS_off.png);
    background-repeat: no-repeat;
}