.infobox-full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /*    max-height: none;
        max-width: none;*/
    z-index: 999999;
    overflow: hidden;
}

.infobox-full iframe {
    max-height: 100%!important;
    height: 100%;
}

.infobox-full-ios {
    overflow: auto!important; 
    -webkit-overflow-scrolling: touch!important;
}

.infobox-full-ios iframe {
    min-height: 100%;
    max-width: 100%;
}

/*------------------------------------------------------*/
.uiMenu-full {
    max-height: 80vh!important;
    width: 95vw!important;
    overflow: hidden;
    position: absolute;
    z-index: 1!important;
}

.uiMenu-full-ios {
    overflow: auto!important; 
    -webkit-overflow-scrolling: touch!important;
}

.toolbox-full {
    width: 100%!important;
}

.citydb_long_container-full {
    margin-left: 0!important;
    margin-right: 0!important;
}

.citydb_short_container-full {
    width: 50%!important;
}