.splash-iframe-container {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.splash-iframe-container iframe {
    display: block;
    border: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: auto;
    min-height: 100%;
}

.splash-wrapper {
    display: none;
    background-color: #ffffff;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 1rem;
    height: 90%;
    max-height: 90%;
    top: 5%;
    left: 5%;
    position: fixed;
    z-index: 99990;
    overflow: hidden;
}

#opaque_curtain {
    display: block;
    width: 100%;
    height: 100%;
    background-color: grey;
}

#not_show_again_button, #close_button {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: white;
    border-color: green;
    border-radius: 5px;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    margin: 4px 2px;
}

.splashscreen-buttons {
    position: absolute;
    right: 12%;
    bottom: 10%;
    z-index: 99999;
    display: none;
}

#not_show_again_button:hover {
    background-color: green;
    color: white;
}

#close_button:hover {
    background-color: green;
    color: white;
}
